// Balises générales
body
{
    background-color: $secondary;
    color: $mainFontClr;
    font-size: 1.5rem;
}
// Les custom tooltips
.custom-tooltip 
{
    --bs-tooltip-bg: #ff5f09;
    --bs-tooltip-color: #e5e8ee;
}
// Flèche retour en haut
#flecheHaut
{
    color: $primary;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 2.5rem;
    z-index: 1;
    &:hover
    {
        cursor: pointer;
        color: #ff772e;
    }
}
// Le panier offCavenas, modifier le innerHtml pour utiliser les row-col de bootstrap
// Les classes cartItemQuantity, cartItemPrixTotal, cartItemNom, cartImage, itemCart
.offcanvas-body .itemCart
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.offcanvas-body .itemCart:nth-child(even)
{
    background-color: #eda27a;
}

.offcanvas-body .itemCart .cartItemQuantity
{
    display: flex;
}

.offcanvas-body .itemCart .cartItemQuantity span
{
    width: 30px;
    height: 30px;
    background-color: $primary;
    color: $mainFontClr;
    border-radius: 50%;
    padding-bottom: 40px;
    cursor: pointer;
}
.offcanvas-body .itemCart .cartItemQuantity span:nth-child(2)
{
    background-color: transparent;
    color: $secondary;
    cursor: text;
}
.offcanvas-body .itemCart img
{
    width: 100%;
}
// Classe des boutons X (fermer)
.btn-close
{
    background-color: $primary;
}
// Les customs pour le header
nav
{
    background-color: $secondary;
    margin-bottom: 2rem;
}
.active-link
{
    color: $primary;
}
.nav-link:not(.active-link)
{
    color: $mainFontClr;
}
.nav-link:hover
{
    color: darken($primary, 0.7);
}
//Le menu hamburger
.navbar-toggler
{
    background-color: $primary;
    color: $mainFontClr;
}
.dropdown-item
{
    background-color: $secondary;
    color: $mainFontClr;
    &:hover
    {
        background-color: $primary;
    }
}
// L'icône du panier dans le nav
#icon-cart
{
    font-size: 1.5rem;
    position: relative;
    span
    {
        font-size: 1rem;
        background-color: $secondary;
        color: $primary;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        border-radius: 50%;
        padding: 0.25rem;
    }
}
// Custom de la section Hero
h1
{
    color: $mainFontClr;
}
.hero
{
    min-height: 90vh;
    
}

// Section produits
#sectionProduits
{
    img
    {
        height: clamp(200px, 15rem, 450px);
    }
}

// Carte produits
.btn-card
{
    color: $mainFontClr;
}
.card
{
    background-color: $mainFontClr;
    color: $secondary;
}
.card-title
{
    text-decoration: underline;
}

/*
    .newspaper 
{
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    cursor: pointer;
}


.ball 
{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: #c00;
    position: relative;
    top: 0;
    left: 0;
    transition: transform 1s;
}
*/