// Les couleurs
$primary: #ff5f09; // Orange électrisant

$btnHoverPrimary: #ff772e; // Hover clair des boutons
$secondary: #000000; // Noir
$mainFontClr: #e5e8ee; // Couleur blanche pour le texte & background