$mainFont: "Montserrat",sans-serif;

// Les couleurs
$primary : #f41b75;

/* NE PAS DÉCOMMENTER, MÈNE À UNE ERREUR DE COMPILATION MODIFIÉ SEULEMENT LE NOM TEL CI-HAUT
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
);
*/
// Le spacing pour les marges et padding m&p ex: p-3, my-4
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

// Les break-points
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Les gutters 
$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// Tranformation
$transformImg: cubic-bezier(0.1, 0.7, 0.1);