/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px 0;
}

p {
    margin-bottom: 1rem;


}

.accordion {

    max-width: 600px;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    transition: background 0.3s;
}

.accordion-header:hover {
    background-color: #0056b3;
}

.accordion-header.active {
    background-color: black;
}

.accordion-content {
    background-color: #f9f9f9;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.accordion-content.show {
    padding: 30px;

}